* {
	box-sizing: border-box;
}

#main{
	display: none;
}

body {
	border: 1px;
	background-color: none;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 60px;


}

#search[type=submit] {
    background-color: #4CAF50;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: 1px solid #d9d9d9;
    margin-left: 10px;
    position: relative;
}

.toolbar {
  margin: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
}

.toolbar-text {
  margin: 0;
  padding: 0.5rem;
}

.half-width{
	width: 50%;
	padding-left: 40px;
}

.left{
  float:left;
}
.right{
  float:right;
}

.half-width .right{
	margin-top: 10px;
}

.form-field{
	width:90%;
	height: 30px;
}

h1{
	text-align: left;
}

#search-h1{
	padding-left: 10px;
}

li {
	padding: 10px;
	font-weight: bold;	
	list-style-type: circle;
	text-decoration-style: bold;
}

.inline-form-group {
	background-color: lightgrey;
	border: 1.5px solid black;
	margin: 10px;
	min-width: 300px;
	max-width: 50%;
	border-radius: 5px;
	flex-wrap: wrap;
	vertical-align: baseline;
}

#title{
	table-layout: 
}

.hider{
	text-align: left;
	padding-right: 30px;
}

.div-button{
	display: inline-block;
	margin-left: 80px;
}

.post-form{
	height: 400px;
}

.js-query{
	width: 45%;
	margin-top: 10px;
}
.hidden {
	visibility: hidden;
}

.title-warning{
  color:red;
  font-style: italic;
}

.date-box{
	margin-bottom: 10px;
}

.query{
	margin-left: 10px;
}