* {
	box-sizing: border-box;
}

#main{
	display: none;
}

body {
	border: 0px;
	background-color: none;
	font-family: 'Roboto', sans-serif;
	min-width: 500px;
}

body > .btn {
    background: #428BCA;
    color: #fff;
    font-family: Sans-serif;
    font-size: 16px;
    height: 40px;
    width: 100px;
    line-height: 40px;
    margin: 25px 25px;
    text-align: center;
    border: 0;
    transition: all 0.3s ease 0s;
}

#search[type=submit] {
    background-color: #4CAF50;
    background: #428BCA;
    color: #fff;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: 1px solid #d9d9d9;
    margin-left: 10px;
    position: relative;
}

.toolbar {
  margin: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
  line-height: 30px;
}

.toolbar-text {
  margin: 0;
  padding: 0.5rem;
}

.half-width{
	width: 50%;
	padding-left: 40px;
}

.left{
  float:left;
}

.right{
  float:right;
}

.half-width .right{
	margin-top: 10px;
	position: absolute;
	display: hidden;
}

#plus{
	width:20px;
	height: 20px;
	float: right;
	position: fixed;
}

#new-note{
	display: none;
}

.form-field{
	width:90%;
	height: 30px;
}

h1{
	text-align: left;
}

#search-h1{
	padding-left: 0px;
}

li {
	padding: 10px;
	padding-top:15px;
	font-weight: bold;	
	list-style-type: circle;
	text-decoration-style: bold;
}

.inline-form-group {
	background-color: lightgrey;
	border: none;
	margin: 0px;
	min-width: 200px;
	max-width: 50%;
	border-radius: 5px;
	flex-wrap: wrap;
	vertical-align: baseline;
	margin-bottom: 10px;
	margin-top: 25px;
}

#delete{
	height: 15px;
	width: 15px;
	margin-top: 4px;
}

.delete-btn{
	float: right;
	display: block;	
	margin-right: 20px;
	margin-top: -40px;
	max-width: 15px;
}

#content{
	word-break: normal;
	text-rendering: auto;
}

.hider{
	text-align: left;
	padding-right: 30px;
	display: none;
}

.submit-btn{
	display: inline-block;
	margin-left: 10px;
	background: #428BCA;
    color: #fff;
    font-family: Sans-serif;
    font-size: 12px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    border: 0;
    transition: all 0.3s ease 0s;
}
.btn div-button{

}

.post-form{
	height: 400px;
}

.js-query{
	width: 48%;
	margin-top: 10px;
	padding-left: -20px;
	min-width: 50px;
}
.hidden {
	visibility: hidden;
}

.title-warning{
  color:red;
  font-style: italic;
}

.date-box{
	margin-bottom: 10px;
}
.content-box{
	height: 100px;
}

.query{
	margin-left: 0px;
}